.Gif{
    border: 1px solid #eee;
    border-radius: 6px;
    display: flex;
    color:#eee;
    text-decoration: none;
    margin: 16px;
    width: 100%;
    flex-direction: column;
}

.Gif img {
    object-fit: contain;
}